{% extends 'base-dashboard.html' %}
{% load static %}

 
{% block extra_css %}
  
  <link rel="stylesheet" href="{% static 'DataTables/dataTables.bootstrap5.css' %}">

{% endblock extra_css %}

{% block head_js %}

    <script src="{% static 'DataTables/jquery.min.js' %}"></script>
    <script src="{% static 'DataTables/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'DataTables/dataTables.bootstrap5.js' %}"></script>

    
{% endblock head_js %}
  

{% block content %}


<div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Lista de Frases</h4>
          <div class="mb-3">
            <p class="text-end">
              <a href="{% url 'add' %}" class="btn btn-primary">Añadir nueva frase</a>
            </p>
          </div>
          
            
            <table id="phrase-table" class="table table-striped" style="width:100%">

              <thead>
                <tr>
                  <th> Frases </th>
                  <th> Status </th>
                  <th> Ultima Actualización </th>
                  <th> Fecha de creación </th>
                </tr>
              </thead>
              <tbody>
                {% for p in phrase_list %}
                    <tr>
                        <td><a href="{{ p.get_absolute_url }}" class="text-decoration-none custom-hover">{{ p.spanish_phrase }}</a></td>
                        <td>
                            {% if p.learned %}
                                <label class="badge badge-gradient-success">APRENDIDA</label>
                            {% else %}
                                <label class="badge badge-gradient-danger">NO APRENDIDA</label>
                            {% endif %}
                        </td>
                        <td>{{ p.updated }}</td>
                        <td>{{ p.created }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">
                            <h5><b>Todavía no tienes ninguna frase añadida</b></h5>
                        </td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
            
          </div>
        </div>
      </div>
    </div>
</div>


{% endblock content %}

 
{% block extra_js %}
   
    <script src="{% static 'DataTables/dataTables.js' %}"></script>
    <script src="{% static 'DataTables/dataTables.bootstrap5.js' %}"></script>


    <style>
        /* Estilo personalizado para el desplegable de cantidad de entradas por página en DataTables */
        div.dt-container div.dt-length select.form-select {
            
            color: #4c40a4 !important; /* Texto blanco */
            border-color: #228bd1 !important; /* Borde azul más oscuro */
            padding: 0.4375rem 0.75rem; /* Ajuste de padding según el estilo original */
            outline: 1px solid #ebedf2; /* Ajuste de outline según el estilo original */
            width: auto !important; /* Ajuste del ancho */
            display: inline-block !important; /* Ajuste del display */
            margin-right: 0.5em !important; /* Ajuste del margen */
        }
    </style>

    <script src="{% static 'DataTables/table.js' %}"></script>

    
{% endblock extra_js %}




