{% extends 'base.html' %}

{% block title %}
Frases Aprendidas
{% endblock title %}


{% block content %}
<div class="blog">
    <div class="list">
        <div class="card my-3 shadow">
            <div class="card-body">
                <a class="float-end btn btn-outline-warning text-decoration-none"
                    href="{% url 'list_learned_english' %}">Versión en inglés</a>
                <h1 class="text-success">Frases Aprendidas</h1>
                <hr>

                <ol>
                    {% for p in phrase_list %}
                    <li>
                        <a href="{{ p.get_absolute_url }}" class="text-decoration-none">{{ p.spanish_phrase }}</a>
                    </li>
                    {% empty %}
                    <p>No hay frases aprendidas aún.</p>
                    {% endfor %}
                </ol>

            </div>
        </div>

    </div>
    
    <div class="sidebar my-3">
        {% include 'core/includes/sidebar.html' %}
    </div>
</div>
{% endblock content %}

{% block js %}

{% endblock js %}