{% extends 'base.html' %}

{% block title %}
    Phrases No Learned
{% endblock title %}


{% block content %}
  

        
        <!-- start main -->
        <div class=" blog ">
            <!-- start main -->
            <div class="list ">
  
            <!-- start Primera entrada -->
                <div class="card my-3 shadow">
                    <div class="card-body ">
                        <h1 class=" text-danger "> Frases no editadas</h1>
                        <hr>

                        <ol>
                            {% for p in phrase_list %}
                            <li > 
                                <a href="{{p.get_absolute_url}}"> {{p.spanish_phrase}}</a>
                                <p>{{p.english_phrase}}</p>
                            
                            </li> 
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            <!-- end Primera entrada -->
  
  
            </div>               
  
            <!-- start sidebar -->
                <!-- start entradas -->
                <div class="sidebar my-3">
                   {% include 'core/includes/sidebar.html' %}
  
                    
                </div>
                <!-- end sidebar -->
  
            </div>
        <!-- end main -->
      
        
{% endblock content %}
    

{% block js %}

{% endblock js %}
    