{% extends 'base.html' %}

{% block title %}
    Phrases No Learned
{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <p>{{ request.user }}</p>

                    <!-- Uncomment the following to display specific phrase details -->
                    <!-- <p>{{ phrase.created_by }}</p>
                    <p>{{ phrase.spanish_phrase }}</p>
                    <p>{{ phrase.english_phrase }}</p> -->

                    <p>
                        {% for p in request.user.user_phrase.all %}
                            {{ p }}
                        {% endfor %}
                    </p>
                    
                    <hr>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="sidebar my-3">
                {% include 'core/includes/sidebar.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}

{% endblock js %}
