<div class="card shadow d-flex flex-column">
    <div class="titulo-sidebar d-flex justify-content-center">
        <h4 class="">Sidebar</h4>
    </div>
    
    {% if request.user.is_authenticated %}
    <div class="font-weight-light">
        <a class="etiquetas cuerpo link text-decoration-none" href="{% url 'home' %}">Lista de todas las frases</a>
        <a class="etiquetas cuerpo link text-decoration-none" href="{% url 'list_learned' %}">Lista de frases aprendidas</a>
        <a class="etiquetas cuerpo link text-decoration-none" href="{% url 'list_nolearned' %}">Lista de frases No aprendidas</a>

        <a class="etiquetas cuerpo link text-decoration-none" href="{% url 'add' %}">Agregar Frase</a>
        <a class="etiquetas cuerpo link text-decoration-none" href="{% url 'all_english_phrase' %}">List all phrases in English</a>
        <a class="etiquetas cuerpo link text-decoration-none" href="{% url 'list_learned_english' %}">List phrases learned English</a>
        <a class="etiquetas cuerpo link text-decoration-none" href="{% url 'list_nolearned_english' %}">List phrases no learned English</a>
        <a class="etiquetas cuerpo link text-decoration-none" href="{% url 'list_no_edit' %}">Frases sin editar</a>
    </div>
    {% endif %}
</div>
