{% extends 'base-home.html' %}
{% block title %} Sesión cerrada {% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-body">
                    <h1>Sesión cerrada</h1>
                    <hr>
                    <p>
                        Has cerrado sesión satisfactoriamente. Puedes volver a iniciar sesión
                        <a class="text-success text-decoration-none" href="{% url 'login' %}">aquí</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
