{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}   Ingresa tus credenciales   {% endblock title %}

{% block content %}
    
    <div class="container">
        <div class="row">
            <div class="column-sm-12 col-md-6 offset-md-3">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1>Ingresa tus credenciales</h1><hr>
                        <form action="" method="post">{% csrf_token %}

                            <!-- {{form | crispy }} -->
                            {% if form.non_field_errors %}
                            <div class="alert alert-block alert-danger"> 
                                <ul class="m-0">
                                 <li>Por favor, introduzca un nombre de usuario o email y clave correctos. Observe que ambos campos pueden ser sensibles a mayúsculas.</li> 
                                </ul> 
                            </div>
                            {% endif %}
                            <p>
                                <input type="text" name="username" autofocus maxlength="254" required
                                id="id_username" class="form-control" placeholder="Ingresa tu usuario o email"/>
                            </p>
                            <p>
                                <input type="password" name="password" required
                                id="id_password" class="form-control" placeholder="Contraseña"/>
                            </p>
                            
                            <a href="{% url 'home' %}">Ir al Home</a> |
                            <a href="{% url 'signup' %}">Regístrate</a>
                            <p class="d-flex justify-content-end mt-3">
                                <input type="submit" value="Ingresar" class="btn btn-success ">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

