{% extends 'base-home.html' %}
{% load crispy_forms_tags %}
{% block title %}  Regístrate  {% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1>Regístrate</h1><hr>
                        <form action="" method="post">{% csrf_token %}

                            {{form | crispy }}
                            <a href="{% url 'home' %}" class="fw-bold">Ir al Inicio</a> |
                            <a href="{% url 'login' %}" class="fw-bold">Iniciar Sesión</a>
                            <p class="d-flex justify-content-end mt-3">
                                <input type="submit" value="Ingresar" class="btn btn-success ">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
